.joystick {
    position: relative;
    min-height: 400px;
    border: 1px dashed gray;
    user-select: none;

    .placeHolder {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
    }
}
